# This is Git's per-user configuration file.
[user]
name = Yes Lee
email = joshuayes@gmail.com
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILIcbHzSxVUwC8rKRTjn7a7DlQtTJv9Ce/VzrNXgxuqv

[alias]
ac = !git add . && git commit
acn = !git add . && git commit -n
fdr = !git fetch origin develop:develop && git rebase -i develop
poh = !git push origin HEAD
pohf = !git push origin HEAD -f
wip = !git add . && git commit -m wip --no-verify && git push origin HEAD --no-verify
mmtd = !git cm && git pull && git cde && git pull && git merge master && git push
cm = !git checkout master
cma = !git checkout main
cq = !git checkout qa
cde = !git checkout dev
cd = !git checkout develop
st = !git checkout st
cs = !git checkout cs
tt = !git checkout tt
rt = !git checkout rt
bmd = !git branch --merged | egrep -v master | xargs git branch -d
bmaind = !git branch --merged | egrep -v main | xargs git branch -d
bdd = !git branch --merged | egrep -v develop | xargs git branch -d

[filter "lfs"]
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
